.site-main{
    .entry-header{
        display:none;
    }
    .entry-content{
        .wp-block-cover{
            overflow: initial;
            min-height: 430px;
            @include mq($mq600){
                min-height: 500px;
            }
            @include mq($mq1024){
                min-height: 675px;
            }
            @include mq($mq1600){
                min-height: 755px;
            }
            &::after{
                content:'';
                position: absolute;
                bottom:-2.5rem;
                width: 100%;
                height: 4rem;
                background-image:url(images/banner/banner-w-mb.svg);
                background-repeat: no-repeat;
                background-position: bottom;
                z-index: 1;
                background-size: 100% auto;

                @include mq($mq500){
                    margin-bottom: -14%;
                    bottom: 0;
                }
                @include mq($mq600){
                    margin-bottom: -8%;
                    background-image:url(images/banner/banner-w-tb.svg);
                }
            }
            .wp-block-cover__inner-container{
                position: relative;
                z-index: 2;
                max-width: 1200px;
                @include mq($mq500){
                    transform: translateY(-8%);
                }
                @include mq($mq850){
                    padding: 0 2%;
                }
                @include mq($mq1024){
                    padding: 0 5%;
                    transform: translateY(-15%);
                }
                @include mq($mq1350){
                    padding: 0 2%;
                }
                @include mq($mq1600){
                    padding: 0;
                    max-width: 1170px;
                }

                p{
                    font-family: $font__heading-jp;
                    font-size: 2.4rem;
                    line-height: 1;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #ffffff;
                    margin-top:0;
                    margin-bottom: 1.5rem;

                    &:first-of-type,
                    &:last-of-type{
                        max-width:13rem;
                    }

                    &:nth-of-type(2){
                        max-width:16rem;
                    }
            
                    span{
                        font-family: $font__heading-en;
                        font-size:2.3rem;
                    }
                    a{
                        text-decoration: none;
                        color:#ffffff;
                        #{$link-hover-selector}{
                            //need to change later
                            color:$color__background-green;
                        }
                    }
                    
                }
                @include mq($mq1024){
                    p{
                        font-size: 3.4rem;
                        margin-bottom: 3rem;
                        br{
                            display:none;
                        }
                        span{
                            font-size:3.3rem;
                        }
                    }
                    p.banner-sp{
                        max-width:29rem;
                    }
                    p.banner-deli{
                        max-width:34rem;
                    }
                    p.banner-hm{
                        max-width:35rem;
                    }
                   
                }
            }
        }
    }
    .delivery,
    .homemade,
    .about{
        .entry-content{
            .wp-block-cover{
                .wp-block-cover__inner-container{
                    p{
                        max-width:18rem;
                        margin:0 auto;
                        border:none;
                        position: relative;
                        font-size: 2.6rem;
                        @include mq($mq370){
                            font-size: 2.85rem; 
                        }

                        @include mq($mq1024){
                            max-width:25rem;
                            font-size: 4rem; 
                        }
                        @include mq($mq1600){
                            font-size:4.8rem;
                            max-width:29rem;
                        }
                        &::before{
                            content:"";
                            height:1px;
                            width:100%;
                            background-color: $color__bodyfont;
                            position: absolute;
                            top: 3.2rem;
                            left:0;
                            @include mq($mq370){
                                top: 3.5rem;  
                            }
                            @include mq($mq1024){
                                top: 4.5rem;
                            }
                            @include mq($mq1600){
                                top: 5.8rem;
                            }
                        }
                        span{
                            display:block;
                            margin-top:1rem;
                            @include mq($mq1600){
                                margin-top:1.5rem;
                                font-size:3.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .about,
    .homemade{
        .entry-content{
            .wp-block-cover{
                .wp-block-cover__inner-container{
                    p{
                        &::before{
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .homemade{
        .entry-content{
            .wp-block-cover{
                .wp-block-cover__inner-container{
                    p{
                        max-width:13rem; 
                        @include mq($mq370){
                            max-width:15rem; 
                        }
                        @include mq($mq1024){
                            max-width:22rem; 
                        }
                        @include mq($mq1600){
                            max-width:30rem; 
                        }
                        &::before{
                            @include mq($mq1024){
                                top: 4.85rem;
                            } 
                            @include mq($mq1600){
                                top: 6rem;
                            } 
                        }

                        span{
                            @include mq($mq1024){
                                font-size:2.5rem; 
                            }
                            @include mq($mq1600){
                                font-size:3.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
//EN version
body.en-US{
    .site-main{
        .wp-block-cover{
        .wp-block-cover__inner-container{
            p{
                font-family:$font__heading-en;
                font-size:2.8rem;
                margin-bottom: 2rem;
                &:first-of-type{
                    max-width:11rem;
                    @include mq($mq600){
                        max-width:12rem;
                    }
                    @include mq($mq1024){
                        max-width:14rem;
                    }
                }
                &:nth-of-type(2){
                    max-width:12.5rem;
                    @include mq($mq600){
                        max-width:13.5rem;
                    }
                    @include mq($mq1024){
                        max-width:16rem;
                    }
                }
                &:nth-of-type(3){
                   max-width:16.5rem;
                   @include mq($mq600){
                        max-width:18rem;
                    }
                    @include mq($mq1024){
                        max-width:21rem;
                    }
                }
               @include mq($mq370){
                   font-size:3rem;
               }
               @include mq($mq600){
                font-size:3.2rem;
                }
                @include mq($mq1024){
                    font-size:3.8rem;
                }
                @include mq($mq1600){
                    font-size:4.2rem;
                }
            }
        }
    
        }
        #post-56,
        #post-70,
        #post-82{
            
            .entry-content{
                .wp-block-cover{
                    .wp-block-cover__inner-container{
                        p{
                            font-size:3.35rem;
                            line-height: 1.2;
                            &::before{
                                top: 4.2rem; 
                                @include mq($mq1024){
                                    top: 5.6rem; 
                                }
                                @include mq($mq1600){
                                    top: 7.1rem; 
                                }
                            }
                            @include mq($mq1024){
                                font-size:4.5rem;
                                max-width:16rem;
                            }
                            @include mq($mq1600){
                                font-size:5.6rem;
                                max-width:20rem;
                            }
                        }
                    }
                }
            }
        }
        #post-70{
            .entry-content{
                .wp-block-cover{
                    .wp-block-cover__inner-container{
                        p{
                            max-width: 17rem;
                            @include mq($mq1024){
                                max-width:22rem;
                            }
                            @include mq($mq1600){
                                max-width:30rem;
                            }
                        }
                    }
                }
            }
        }
    }
}