// Front Page Styles
.home{
    .site{
        .site-main{
            
            .entry-content{
               
                h3{
                    font-family: $font__heading-jp;
                    color: $color__green;
                    font-size: 1.5rem;
                    justify-content: center;
                    display: inline-flex;
                    align-items: center;
                    width: 100%;

                    @include mq($mq1024){
                        font-size:1.875rem;
                    } 
                    @include mq($mq1200){
                        font-size:2.2rem;
                    }
                    
                    .h-icon{
                        margin: 0px 10px;
                        width:33px;
                        height: 33px;
                        -webkit-mask-size: contain;
                        mask-size:contain;
                        mask-repeat: no-repeat;
                        @include mq($mq1024){
                            width:40px;
                            height: 40px;  
                        }
                        @include mq($mq1600){
                            width:44px;
                            height: 44px;
                        }
                    }
                    .sp-icon{
                        background-color: $color__brown;
                        mask-image:url(images/icons/front/sp-icon.svg);
                        -webkit-mask-image:url(images/icons/front/sp-icon.svg);
                        mask-position: center 0.3rem;
                        -webkit-mask-position: center 0.3rem;
                    }
                    .dl-icon{
                        background-color: $color__brown;
                        mask-image:url(images/icons/front/fp-truck.svg);
                        -webkit-mask-image:url(images/icons/front/fp-truck.svg);
                        mask-position: center 0.4rem;
                        -webkit-mask-position: center 0.4rem;

                        @include mq($mq1024){
                            mask-position: center 0.6rem;
                        -webkit-mask-position: center 0.6rem;
                        }

                    }
                    .loc-icon{
                        background-color: $color__brown;
                        mask-image:url(images/icons/front/shop.svg);
                        -webkit-mask-image:url(images/icons/front/shop.svg);
                    }
                }
                .fp-main{
                    margin-bottom:-0.4rem;
                    img{
                        @include mq($mq850){
                            width:100%;
                            max-height: 26rem;
                        }
                        @include mq($mq900){
                            max-height: 30rem;
                        }
                        @include mq($mq1024){
                            max-height: 33rem;
                        }
                        @include mq($mq1240){
                            max-height: 35rem;
                        }
                        @include mq($mq1300){
                            max-height: 40rem;
                        }
                        @include mq($mq1600){
                            max-height: 45rem;
                        }

                    }
                }
                
                .deli-loc{
                    padding: 0 5%;
                    max-width: 1200px;
                    margin: 0 auto;

                    @include mq($mq1300){
                        padding: 0;
                    }
                    h4, p{
                        @include mq($mq1024){
                            font-size:1.4rem;
                        }
                        @include mq($mq1920){
                            font-size:1.75rem
                        }
                    }
                    .fp-delivery{
                        padding: 2rem 0;
                        position: relative;

                        .deli-text-wrapper{
                            padding-bottom: 2rem;
                            text-align: center;

                            @include mq($mq1240){
                                padding-bottom: 0;
                            }
                            .deli-item-wrapper{
                                margin: 0 auto 1.5rem;
                                &:first-of-type,
                                &:nth-of-type(3){
                                    .wp-block-group__inner-container{
                                        align-items: flex-start;
                                    }   
                                }
                                &:nth-of-type(3){
                                    margin-bottom:2rem;
                                }
                                .wp-block-group__inner-container{
                                    display: inline-grid;
                                    grid-template-columns: 38% 1fr;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 1.25rem;
                                    width: 100%;
                                    @include mq($mq600){
                                        grid-template-columns: 40% 1fr;
                                    }
                                   
                                    @include mq($mq1000){
                                        grid-template-columns: 27% 1fr;
                                    }
                                    @include mq($mq1920){
                                        grid-template-columns: 24% 1fr;
                                    }

                                h4{
                                    margin:0;
                                    font-weight: 400;
                                    justify-self: end;
                                    @include mq($mq1200){
                                        justify-self: start; 
                                    }
                                }
                                p{
                                    margin: 0;
                                    justify-self:start;
                                    text-align: left;
                                }

                                p.deli-hr-text{
                                    @include mq($mq370){
                                        br{
                                            display:none;
                                            @include mq($mq600){
                                                display:block;
                                            }
                                            @include mq($mq768){
                                                display:none;
                                            }

                                        }
                                    }
                                }
                            }
                            }
                            .wp-block-buttons{
                                text-align: center;
                                .wp-block-button{
                                    margin: 1rem 0.5rem 0;

                                    @include mq($mq1240){
                                        margin:0;
                                    }
                                    .wp-block-button__link{
                                        border-radius: 0px;
                                        background-color: $color__lightgray;
                                        color:$color__green;
                                        width: 15rem;
                                        font-size:1.25rem;
                                        font-weight: 700;
                                        outline:0;
                                        box-sizing: border-box;

                                        @include mq($mq1200){
                                            font-size:1.4rem;
                                        }

                                        @include mq($mq1920){
                                            font-size:1.75rem;
                                        }

                                        #{$link-hover-selector}{
                                            color:$color__lightgray;
                                            background-color: $color__green;
                                            border:none;
                                        }
                                    }
                                }
                            }
                           
                        }
                        .wp-block-image{
                            padding: 0.5rem 0;
                            @include mq($mq1200){
                                max-height: 25rem;   
                            }
                         }  

                        hr.wp-block-separator {
                            transform: translateY(2.5rem);
                            width: 80%;
                            @include mq($mq600){
                                display:none;
                            }
                        }
                    }
                    .fp-location{
                        padding-top: 1rem;
                        padding-bottom: 2rem;
                        text-align: center;
                        @include mq($mq600){
                            padding-top:2rem;
                        }
                       
                        .location-text-wrapper{
                            text-align: center;
                            .wp-block-group__inner-container{                                
                                .loc-list-wrapper{
                                    margin-bottom: 1.5rem;
                                    .wp-block-group__inner-container{
                                        font-size: 1.25rem;
                                        display: inline-grid;
                                        width: 100%;
                                        justify-items: start;
                                        text-align: left;
                                        grid-template-columns: 35% 1fr;

                                        @include mq($mq600){
                                            grid-template-columns: 40% 1fr;
                                        }
                                        @include mq($mq670){
                                            grid-template-columns: 36% 1fr;
                                        }
                                        @include mq($mq850){
                                            grid-template-columns: 30% 1fr;
                                        }
                                        
                                        @include mq($mq1920){
                                            grid-template-columns: 28% 1fr;
                                        }
                                        
                                        h4{
                                            margin:0;
                                            font-weight: 400;
                        
                                        }

                                        p{
                                            margin:0;
                                        }

                                    }
                                }
                            }
                        }
                        iframe{
                            @include mq($mq600){
                                max-height: 15.625rem;
                            }
                            @include mq($mq850){
                                max-height: 30vh;
                            }
                            @include mq($mq900){
                                max-height: 36vh;
                            }
                            @include mq($mq1000){
                                max-height: initial;
                            }
                            @include mq($mq1920){
                                margin-top:1.7rem;
                            }
                        }
                    }
                }
            }
        }
    }

}
