.main-navigation {
	display: block;
	width: 100%;
	position: absolute;
	top:0;
	right: 0;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
button.menu-toggle {
    position: absolute;
	right: 0;
	z-index: 2;
	@include mq($mq670){
		top: 7.2rem;
	}
}
.menu-menu-1-container{
	ul{
		li{
			a{
				font-family:$font__sptag-jp;
				color:$color__lightgray;
			}
			}
		}
	}
	
// After open hm-menu
.main-navigation.toggled{
	.menu-menu-1-container{
		background-color: $color__green;
		height: 100vh;
		width: 60%;
		position: absolute;
		right: 0;
		ul#primary-menu {
			top: 50%;
			left: 50%;
			position: absolute;
			transform: translate(-50%, -50%);

			li{
				padding: 2rem 0;
				border-bottom: 3px dashed $color__lightgray;
				text-align: center;
				&:first-child{
					padding-top:0;
				}
			}
		}
	}
}

@media screen and (min-width: 64em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
