// Function to
// Convert Px to Ems
@function em($px, $bc: 16){
    @return #{$px/$bc}em; 
}

// Media Query Breakpoints
$mq1920:em(1920); //desktoplarge
$mq1600:em(1600); //desktopsmall
$mq1200:em(1200); //laptop
$mq1024:em(1024); //tabletLandscape
$mq1000:em(1000);//tabletPortraitLarge
$mq850:em(850);//tabletPortrait
$mq768:em(768); //ipad Portrait
$mq670:em(670);//phoneLandscape
$mq615:em(615);//phoneLandscapeSmall
$mq500:em(500);//phonePortraitLarge
$mq420:em(420);//phonePortrait
$mq400:em(400); //iphone 6 plus
$mq370:em(370); //iphone6 +