// Brand color
// ...apply to banner background, ui cards.. 
$color__bodyfont: #333333;
$color__green: #126C42;
$color__lightgray:#F0F3F5;
$color__brown:#4B2C34;

//Background color
$color__background-gray:#E8E8E8;
$color__background-green:#E9F2E7;
$color__background-blue:#F1F9FF;
$color__backgound-beige: rgba(240, 236, 213, 0.35);
$color__background-green-lighter:rgba(18, 106, 66, 0.2);
$color__background-brown-lighter:rgba(75, 44, 52, 0.2);
$color__background-blue-lighter:rgba(124, 168, 201, 0.37);

//Special Tag color
$color__spt-yellow:rgba(245, 227, 5, 0.85);
$color__spt-red:rgba(209, 3, 3, 0.7);
$color__spt-black:rgba(0,0,0,0.85);

//overlay color
$color__ol-black:rgba(80, 80, 80, 0.3);
$color__ol-black-about:rgba(44, 44, 44, 0.17);
$color__ol-black-value:rgba(33, 32, 27, 0.4);
$color__ol-white:rgba(222, 221, 221, 0.55);



//default setting
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
